

.work-section {
  padding: 10px;
  text-align: center;
  height: 100vh; 
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center; 
}

.work-cards {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly; 
  flex-grow: 1; 
}

.work-card {
  flex: 1;
  padding: 18px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.work-card:hover {
  transform: translateY(-5px);
}

.work-card img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-card:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
}

.overlay-content p {
  font-size: 18px;
  margin-bottom: 10px;
}

.overlay-content a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
